In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=149b738465906a3ee8a9125d802f0b449f4e75501fb7cdcc24b7640b2516699c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [41]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("/content/sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [4]:
#Create a spark session
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Atomic').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('/content/sample_data/california_housing_test.csv')

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.show()

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(_c0='longitude', _c1='latitude', _c2='housing_median_age', _c3='total_rooms', _c4='total_bedrooms', _c5='population', _c6='households', _c7='median_income', _c8='median_house_value'),
 Row(_c0='-122.050000', _c1='37.370000', _c2='27.000000', _c3='3885.000000', _c4='661.000000', _c5='1537.000000', _c6='606.000000', _c7='6.608500', _c8='344700.000000'),
 Row(_c0='-118.300000', _c1='34.260000', _c2='43.000000', _c3='1510.000000', _c4='310.000000', _c5='809.000000', _c6='277.000000', _c7='3.599000', _c8='176500.000000')]

In [12]:
#print schema is like df_info
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

In [13]:
df_pyspark = spark.read.option('header','true').csv('/content/sample_data/california_housing_test.csv',inferSchema=True)

In [14]:
df_pyspark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [15]:
df_pyspark = spark.read.csv('/content/sample_data/california_housing_test.csv', header=True,inferSchema=True)
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark.printSchema()

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [19]:
df_pyspark.head()  #in the list form

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [20]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [21]:
df_pyspark.select('longitude').show()

+---------+
|longitude|
+---------+
|  -122.05|
|   -118.3|
|  -117.81|
|  -118.36|
|  -119.67|
|  -119.56|
|  -121.43|
|  -120.65|
|  -122.84|
|  -118.02|
|  -118.24|
|  -119.12|
|  -121.93|
|  -117.03|
|  -117.97|
|  -117.99|
|  -120.81|
|   -121.2|
|  -118.88|
|  -122.59|
+---------+
only showing top 20 rows

In [22]:
df_pyspark.select(['longitude','latitude']).show()

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.05|   37.37|
|   -118.3|   34.26|
|  -117.81|   33.78|
|  -118.36|   33.82|
|  -119.67|   36.33|
|  -119.56|   36.51|
|  -121.43|   38.63|
|  -120.65|   35.48|
|  -122.84|    38.4|
|  -118.02|   34.08|
|  -118.24|   33.98|
|  -119.12|   35.85|
|  -121.93|   37.25|
|  -117.03|   32.97|
|  -117.97|   33.73|
|  -117.99|   33.81|
|  -120.81|   37.53|
|   -121.2|   38.69|
|  -118.88|   34.21|
|  -122.59|   38.01|
+---------+--------+
only showing top 20 rows

In [23]:
df_pyspark['longitude']

Column<'longitude'>

In [24]:
df_pyspark.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [25]:
#Pyspark Datafram
#Reading the Dataset
#Checking the Datatypes of the Column
#Selecting the column

In [26]:
#describe function in Spark
df_pyspark.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|            -124.18|             32.56|               1.0|              6.0|               2.0|               5.0|               2.0|            0.4999|           22500.0|
|    max|            -114.49|             41.92|              52.0|          30450.0|            5419.0|           11935.0|            4930.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [ ]:
df_pyspark1 = df_pyspark.withColumn('New_total_bedrooms',df_pyspark['total_bedrooms']+2)

In [28]:
df_pyspark1.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|New_total_bedrooms|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|             663.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|             312.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|             509.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|              17.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|             246.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|             215.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|             227.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|             473.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|             619.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|             634.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|             251.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|             168.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|             184.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|             696.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|             327.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|              42.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|             125.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|             609.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|             198.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|            1309.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [ ]:
#Rename the column
df_pyspark1.withColumnRenamed('latitude','latitudeNew').show()

In [30]:
#adding columns , Dropping columns , Renaming Colums

In [31]:
#Data sanity ( null values)
#Dropping Columns
#Dropping Rows
#Various Parameter in Dropping functionalities
#Handling Missing values by Median , Mean and mode

In [32]:
from pyspark.sql.functions import col

In [33]:
null_counts = df_pyspark.select([col(c).isNull().alias(c) for c in df_pyspark.columns]).groupBy().sum().toPandas()
null_counts

Empty DataFrame
Columns: []
Index: [0]

In [34]:
#drop the columns
#df_pyspark.drop('latitude')

In [35]:
#drop the row
#df_pyspark.na.drop().show()
#df_pyspark.na.drop(how="all").show() to drop the column which has all NULL values

In [36]:
#threshold
# df_pyspark.na.drop(how="any",thresh=2).show() #atleast 2 non null values should be there

In [37]:
#subset
#df_pyspark.na.drop(how="any",subset=['latitude']).show() #I will delete the rws in which latitude has NULL values

In [38]:
##Filling the mssing values
#df_pyspark.na.fill('Missing Values',['Latitude','Longitude']).show()

In [39]:
# code to replace NULL values with mean
from pyspark.ml.feature import Imputer
inputer = Imputer(
    inputCols=['latitude','longitude',],
    outputCols=["{}_imputed".format(c) for c in ['latitude','longitude']]
).setStrategy("mean")

In [40]:
inputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|latitude_imputed|longitude_imputed|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|           37.37|          -122.05|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|           34.26|           -118.3|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|           33.78|          -117.81|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|           33.82|          -118.36|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|           36.33|          -119.67|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|           36.51|          -119.56|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|           38.63|          -121.43|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|           35.48|          -120.65|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|            38.4|          -122.84|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|           34.08|          -118.02|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|           33.98|          -118.24|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|           35.85|          -119.12|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|           37.25|          -121.93|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|           32.97|          -117.03|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|           33.73|          -117.97|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|           33.81|          -117.99|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|           37.53|          -120.81|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|           38.69|           -121.2|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|           34.21|          -118.88|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|           38.01|          -122.59|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
only showing top 20 rows

In [42]:
# code to replace NULL values with median
from pyspark.ml.feature import Imputer
inputer = Imputer(
    inputCols=['latitude','longitude',],
    outputCols=["{}_imputed".format(c) for c in ['latitude','longitude']]
).setStrategy("median")

In [43]:
inputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|latitude_imputed|longitude_imputed|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|           37.37|          -122.05|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|           34.26|           -118.3|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|           33.78|          -117.81|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|           33.82|          -118.36|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|           36.33|          -119.67|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|           36.51|          -119.56|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|           38.63|          -121.43|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|           35.48|          -120.65|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|            38.4|          -122.84|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|           34.08|          -118.02|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|           33.98|          -118.24|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|           35.85|          -119.12|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|           37.25|          -121.93|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|           32.97|          -117.03|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|           33.73|          -117.97|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|           33.81|          -117.99|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|           37.53|          -120.81|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|           38.69|           -121.2|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|           34.21|          -118.88|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|           38.01|          -122.59|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------------+-----------------+
only showing top 20 rows

In [ ]:
#Pyspark Dataframes , Filter Operation &|== ~

In [44]:
#total rooms less than 1000
df_pyspark.filter("total_rooms<=1000").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|  -118.05|   33.93|              31.0|      894.0|         203.0|     883.0|     190.0|       3.6771|          141500.0|
|  -117.27|   34.09|              36.0|      848.0|         186.0|     737.0|     169.0|       0.9838|           79300.0|
|  -119.42|   35.97|              21.0|      554.0|         121.0|     426.0|     122.0|       2.3516|           47500.0|
|  -122.29|   37.56|              36.0|      805.0|         140.0|     445.0|     139.0|       5.8221|          289400.0|
|  -120.69|    37.4|              46.0|      860.0|         130.0|     496.0|     147.0|       3.5167|          137500.0|
|  -118.28|   34.05|              44.0|      968.0|         384.0|    1805.0|     375.0|       1.4801|          212500.0|
|  -118.85|   34.17|              42.0|      564.0|          96.0|     220.0|      81.0|       4.5625|          318800.0|
|  -118.41|    34.0|              38.0|      324.0|          70.0|     268.0|      73.0|         2.55|          271400.0|
|  -120.06|   36.95|              24.0|      646.0|         134.0|     454.0|     149.0|        2.125|           61900.0|
|  -118.28|    34.0|              42.0|      855.0|         284.0|     890.0|     247.0|       1.2778|          112500.0|
|  -121.53|   39.06|              20.0|      561.0|         109.0|     308.0|     114.0|       3.3021|           70800.0|
|  -118.28|   34.02|              29.0|      515.0|         229.0|    2690.0|     217.0|       0.4999|          500001.0|
|   -118.2|   34.04|              18.0|      796.0|         227.0|     547.0|     218.0|       1.0333|          135400.0|
|  -121.94|   37.33|              37.0|      818.0|         269.0|     576.0|     261.0|       2.1902|          250000.0|
|  -118.07|   33.93|               5.0|      906.0|         187.0|    1453.0|     158.0|        4.125|          171900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [45]:
df_pyspark.filter("total_rooms<=1000").select(['latitude','longitude']).show()

+--------+---------+
|latitude|longitude|
+--------+---------+
|   33.82|  -118.36|
|   33.98|  -118.24|
|   35.85|  -119.12|
|   33.81|  -117.99|
|   37.53|  -120.81|
|   33.93|  -118.05|
|   34.09|  -117.27|
|   35.97|  -119.42|
|   37.56|  -122.29|
|    37.4|  -120.69|
|   34.05|  -118.28|
|   34.17|  -118.85|
|    34.0|  -118.41|
|   36.95|  -120.06|
|    34.0|  -118.28|
|   39.06|  -121.53|
|   34.02|  -118.28|
|   34.04|   -118.2|
|   37.33|  -121.94|
|   33.93|  -118.07|
+--------+---------+
only showing top 20 rows

In [46]:
df_pyspark.filter((df_pyspark['total_rooms']<=1000) & (df_pyspark['total_rooms']>=500)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|  -118.05|   33.93|              31.0|      894.0|         203.0|     883.0|     190.0|       3.6771|          141500.0|
|  -117.27|   34.09|              36.0|      848.0|         186.0|     737.0|     169.0|       0.9838|           79300.0|
|  -119.42|   35.97|              21.0|      554.0|         121.0|     426.0|     122.0|       2.3516|           47500.0|
|  -122.29|   37.56|              36.0|      805.0|         140.0|     445.0|     139.0|       5.8221|          289400.0|
|  -120.69|    37.4|              46.0|      860.0|         130.0|     496.0|     147.0|       3.5167|          137500.0|
|  -118.28|   34.05|              44.0|      968.0|         384.0|    1805.0|     375.0|       1.4801|          212500.0|
|  -118.85|   34.17|              42.0|      564.0|          96.0|     220.0|      81.0|       4.5625|          318800.0|
|  -120.06|   36.95|              24.0|      646.0|         134.0|     454.0|     149.0|        2.125|           61900.0|
|  -118.28|    34.0|              42.0|      855.0|         284.0|     890.0|     247.0|       1.2778|          112500.0|
|  -121.53|   39.06|              20.0|      561.0|         109.0|     308.0|     114.0|       3.3021|           70800.0|
|  -118.28|   34.02|              29.0|      515.0|         229.0|    2690.0|     217.0|       0.4999|          500001.0|
|   -118.2|   34.04|              18.0|      796.0|         227.0|     547.0|     218.0|       1.0333|          135400.0|
|  -121.94|   37.33|              37.0|      818.0|         269.0|     576.0|     261.0|       2.1902|          250000.0|
|  -118.07|   33.93|               5.0|      906.0|         187.0|    1453.0|     158.0|        4.125|          171900.0|
|  -123.28|   40.77|              25.0|      767.0|         206.0|     301.0|     121.0|        1.625|           79200.0|
|  -118.31|   34.09|              36.0|      787.0|         420.0|    1506.0|     360.0|       1.2412|          216700.0|
|  -122.16|   37.75|              35.0|      667.0|         140.0|     406.0|     133.0|       3.8047|           94300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [47]:
df_pyspark.filter(~(df_pyspark['total_rooms']<=1000)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
|  -122.15|   37.75|              40.0|     1445.0|         256.0|     849.0|     255.0|       3.8913|          126300.0|
|  -121.37|   38.68|              36.0|     1775.0|         296.0|     937.0|     305.0|       3.1786|           83400.0|
|  -118.16|   34.07|              47.0|     2994.0|         543.0|    1651.0|     561.0|       3.8644|          241500.0|
|   -122.2|   37.79|              45.0|     2021.0|         528.0|    1410.0|     480.0|       2.7788|          115400.0|
|  -117.28|   33.28|              13.0|     6131.0|        1040.0|    4049.0|     940.0|       3.8156|          150700.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
#Group By
#df_pyspark.groupBy('Name').sum()
#df_pyspark.groupBy('Name').mean() (for finding mean)
#df_pyspark.groupBy('Departments').count().show()

In [ ]:
# Aggregation
# df_pyspark.agg({'salary':'sum'}).show()

In [49]:
#Pyspark ML
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["total_rooms","total_bedrooms"],outputCol="Independent Features")

In [50]:
output=featureassembler.transform(df_pyspark)
output.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Independent Features|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|      [3885.0,661.0]|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|      [1510.0,310.0]|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|      [3589.0,507.0]|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|         [67.0,15.0]|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|      [1241.0,244.0]|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|      [1018.0,213.0]|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|      [1009.0,225.0]|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|      [2310.0,471.0]|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|      [3080.0,617.0]|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|      [2402.0,632.0]|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|       [972.0,249.0]|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|       [736.0,166.0]|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|      [1089.0,182.0]|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|      [3936.0,694.0]|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|      [2097.0,325.0]|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|        [161.0,40.0]|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|       [570.0,123.0]|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|      [3077.0,607.0]|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|      [1590.0,196.0]|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|     [8814.0,1307.0]|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 20 rows

In [52]:
finalized_data = output.select("Independent Features","population")
finalized_data.show()

+--------------------+----------+
|Independent Features|population|
+--------------------+----------+
|      [3885.0,661.0]|    1537.0|
|      [1510.0,310.0]|     809.0|
|      [3589.0,507.0]|    1484.0|
|         [67.0,15.0]|      49.0|
|      [1241.0,244.0]|     850.0|
|      [1018.0,213.0]|     663.0|
|      [1009.0,225.0]|     604.0|
|      [2310.0,471.0]|    1341.0|
|      [3080.0,617.0]|    1446.0|
|      [2402.0,632.0]|    2830.0|
|       [972.0,249.0]|    1288.0|
|       [736.0,166.0]|     564.0|
|      [1089.0,182.0]|     535.0|
|      [3936.0,694.0]|    1935.0|
|      [2097.0,325.0]|    1217.0|
|        [161.0,40.0]|     157.0|
|       [570.0,123.0]|     189.0|
|      [3077.0,607.0]|    1603.0|
|      [1590.0,196.0]|     654.0|
|     [8814.0,1307.0]|    3450.0|
+--------------------+----------+
only showing top 20 rows

In [53]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='population')
regressor=regressor.fit(train_data)

In [54]:
regressor.coefficients

DenseVector([0.1343, 1.4081])

In [55]:
regressor.intercept

294.69742651888964

In [56]:
pred_results=regressor.evaluate(test_data)

In [57]:
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|population|        prediction|
+--------------------+----------+------------------+
|          [18.0,3.0]|       5.0|301.33951493655104|
|         [42.0,14.0]|      26.0| 320.0526758221265|
|         [66.0,22.0]|      37.0| 334.5413897096904|
|         [67.0,15.0]|      49.0|324.81866012653296|
|         [83.0,15.0]|      32.0| 326.9676747217773|
|         [96.0,14.0]|      46.0|327.30560008107614|
|        [107.0,44.0]|     107.0|371.02751759542195|
|        [110.0,26.0]|      69.0|346.08377584396106|
|        [118.0,34.0]|      54.0| 358.4234751362807|
|        [126.0,24.0]|      37.0|345.41649244053104|
|        [142.0,47.0]|     137.0|379.95293402053045|
|        [204.0,62.0]|     133.0|409.40260056715994|
|        [240.0,44.0]|    6675.0| 388.8912014183905|
|        [314.0,57.0]|     178.0| 417.1363309127789|
|       [321.0,101.0]|     401.0|480.03508076903404|
|        [325.0,74.0]|     354.0|442.55231143574133|
|       [365.0,102.0]|     140.0| 487.3530199052932|
|       [367.0,113.0]|     398.0| 503.1112857224076|
|       [392.0,109.0]|     287.0| 500.8365250301282|
|       [418.0,163.0]|     332.0| 580.3687197116078|
+--------------------+----------+------------------+
only showing top 20 rows

In [58]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(313.6718113910984, 252206.47560519612)